@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .root {
        --background: 0 0% 0% / 0.25;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 5% / 0.4;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background  text-foreground;
    }
}

.gradient-text-header{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 dark:from-blue-400 dark:to-purple-300;
}

.file-card-I {
    @apply bg-[#f2f5fd] text-gray-900;
}
.file-card-II {
    @apply bg-[#192731];
}
.tag-colour-I {
    @apply bg-[#213a56] hover:bg-[#0f1e3f] text-gray-50;
}
.tag-colour-II {
    @apply bg-[#cdaa80] hover:bg-[#997953] text-gray-50;
}

.glass-effect {
    @apply bg-white/10 backdrop-blur-lg border border-white/10 dark:bg-black/30 dark:border-blue-500/20;
}

.hover-lift {
    @apply transition-transform duration-200 hover:-translate-y-1;
}
